#intro .intro-container {
  top: 70px;
}

#intro-docs-min {
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
	background: url(../img/hero-bg.jpg) top center;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
	background-size: cover;
	overflow: hidden;
	position: relative;
}

html {
  overflow-x: hidden;
}

code {
  color: black;
  font-family: monospace;

}
pre.prettyprint {
    padding: 0!important;
    border: none!important;
    text-align: left;
}
pre {
  margin: 0!important;
  text-align: left;
}
.heading-font {
  font-family: 'Dosis', sans-serif;
  font-weight: 700;
	/* text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black; */
}

.container {
  z-index: 2;
  position: relative;
}

.text-black {
  color: #000 !important;
}

.text-primary {
  color: #2d71a1 !important;
}

.border-top {
  border-top: 1px solid #f2f2f2 !important;
}

.border-bottom {
  border-bottom: 1px solid #f2f2f2 !important;
}

figure figcaption {
  margin-top: .5rem;
  font-style: italic;
  font-size: .8rem;
}

.site-section {
  padding: 7rem 0;
}

.section-heading {
  font-size: 3rem;
  font-weight: 700;
  background: linear-gradient(-45deg, #3db3c5, #274685);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



.hero-section {
  background: linear-gradient(to right, rgba(39, 70, 133, 0.4) 0%, rgba(61, 179, 197, 0.4) 100%), url(../img/hero-bg.jpg);
  position: relative;
}

.hero-section .wave {
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  bottom: -150px;
}

.hero-section .wave svg {
  width: 100%;
}

.hero-section,
.hero-section > .container > .row {
  height: 70vh;
  min-height: 880px;
}

.hero-section.inner-page {
  height: 50vh;
  min-height: 0;
}

.hero-section.inner-page .hero-text {
  -webkit-transform: translateY(-150px);
  transform: translateY(-150px);
  margin-top: -120px;
}

.hero-section h1 {
  font-size: 3.5rem;
  color: #fff;
  font-weight: 700;
  margin-bottom: 30px;
}

.hero-section p {
  font-size: 18px;
  color: #fff;
}

.hero-section .iphone-wrap {
  position: relative;
}

.hero-section .iphone-wrap .phone-2,
.hero-section .iphone-wrap .phone-1 {
  position: absolute;
  top: -50%;
  overflow: hidden;
  left: 0;
  box-shadow: 0 15px 50px 0 rgba(0, 0, 0, 0.3);
  border-radius: 30px;
}

.hero-section .iphone-wrap .phone-2,
.hero-section .iphone-wrap .phone-1 {
  width: 250px;
}

.hero-section .iphone-wrap .phone-2 {
  margin-top: 50px;
  margin-left: 100px;
  width: 250px;
}
